<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.convert101">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversionTable"
            android:label="@string/string_conversion_table"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertUnitsLength"
            android:label="@string/string_length"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertUnitsTime"
            android:label="@string/string_time"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertUnitsArea"
            android:label="@string/string_area"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertUnitsTemp"
            android:label="@string/string_temperature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertUnitsVolume"
            android:label="@string/string_volume"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>